body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: #ededed;
}

.page {
    width: 1075px;
    background-color: #e8fff3;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 35px;
}

.container-right {
    padding-left: 20px;
    padding-right: 30px;
}

.container-left {
    padding-right: 30px;
}

.pure-g {
    margin-bottom: 60px;
}

.small-font {
    font-size: 14px;
}
